html,
body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.App {
    width: 100vw;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.search-area {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

.menu-icon {
    font-size: 3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
}

.hidden {
    display: none !important;
}

.map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .mapPin {
        color: red;
        font-size: 1.5rem;
        position: relative;
    }
}

.map-view-button {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    button {
        border-width: 1px 0px 1px 0px;
        cursor: pointer;
        padding: 5px;
        margin: 5;
        :nth-child(1) {
            border-left-width: 1px;
            border-radius: 10px 0px 0px 10px;
        }
        :nth-child(3) {
            border-right-width: 1px;
            border-radius: 0px 10px 10px 0px;
        }
    }
    .active {
        background-color: #23395e;
        color: white;
    }
    .marker-button {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
    }
}

.search-form {
    height: fit-content;
    width: 100%;
    height: 80vh;
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    align-items: center;
    .search-bar {
        width: 80%;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }
    .search-item {
        width: 80%;
        padding: 2px;
        border-radius: 10px;
        margin: 1px;
        p {
            overflow: hidden;
            padding: 0px;
            margin: 0px;
        }
    }
}

.refresh {
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    border: 1px ridge #ff6c6c;
    margin: 20px;
}

@media (min-width: 768px) {
    .search-area {
        width: 300px;
        display: flex !important;
    }

    .menu-icon {
        display: none;
    }

    .map {
        position: absolute;
        right: 0px;
    }
}
