@import "./colors.scss";

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    &-button {
        width: 0px;
        height: 0px;
    }
    &-thumb {
        background: $c2;
        border-radius: 50px;
        :hover {
            background: $c5;
        }
        :active {
            background: $c3;
        }
    }
    &-track {
        background: $c5;
        border-radius: 50px;
        :hover {
            background: $c1;
        }
        :active {
            background: $c2;
        }
    }
    &-corner {
        background: transparent;
    }
}
